---
import placeholderPfp from '@/assets/placeholder-pfp.webp';
import { siteConfig } from '@/siteConfig';
import { Icon } from 'astro-icon/components';

const isAdmin = siteConfig.adminEmails.includes(Astro.locals.user?.email ?? '');

const user = Astro.locals.user;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Email Portal</title>
		<style>
			html,
			body {
				margin: 0;
				width: 100%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		{user ? (
			<header class="absolute top-0 right-0">
				<nav class="flex space-x-4 p-4 mr-5">
					<div class="dropdown dropdown-end">
						<div class="btn btn-circle m-1" role="button" tabindex="0">
							<img src={user.pictureUrl || placeholderPfp.src} alt="Profile Picture" class="rounded-full w-9 h-9" referrerpolicy="no-referrer" />
						</div>
						<ul tabindex="0" class="menu dropdown-content bg-base-200 rounded-box z-[1] w-52 p-2 mt-1 shadow">
							<li class="cursor-text"><span>Welcome, {user.name}!</span></li>
							<li>
								<a href="/portal/" class="text-blue-500">Portal <span class="icon-[mdi--home] h-5 w-5 mt-[2.5px]"></span></a>
							</li>
							<li>
								<a href="/apply/" class="text-blue-500">Apply <span class="icon-[mdi--email-edit] h-4 w-4 mt-[2.5px]"></span></a>
							</li>
							{isAdmin ? (
								<li>
									<a href="/manage/" class="text-blue-500">Manage <span class="icon-[mdi--account-cog] h-4 w-4 mt-[2.5px]"></span></a>
								</li>
							) : null}
							<li>
								<a href="/api/logout/" class="text-red-500">Logout <span class="icon-[mdi--logout] h-4 w-4 mt-[2.5px]"></span></a>
							</li>
						</ul>
					</div>
				</nav>
			</header>
		) : null}
		<slot />
	</body>
</html>
